* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
}

.input_wrapper {
  width: 600px;
  height: auto;
  /*height: 3rem;*/
  border: none;
  border-radius: 10px;
  padding: 0 15px;
  box-shadow: 0 0 8px #ddd;
  background-color: white;
  display: flex;
  align-items: center;
}

input {
  background-color: transparent;
  border: none;
  height: 100%;
  font-size: 1.25rem;
  width: 100%;
  margin-left: 5px;
  outline: none; /* Добавлено для поддержки фокуса */
}

.carets {
  color: #666965;
  font-size: 1.7rem;
  cursor: pointer; /* Добавлено для указания возможности нажатия */
}

.search_result {
  padding: 10px 20px;
  cursor: pointer; /* Добавлено для указания возможности нажатия */
}

.search_result:hover {
  background-color: #efefef;
}

.dropdown_list {
  width: 600px;
  background-color: white;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 8px #ddd;
  border-radius: 10px;
  margin-top: 1rem;
  max-height: 300px;
  overflow-y: auto;
  z-index: 10;
  position: fixed;
}

.text_here {
  margin-top: 20px;
}

.rx_cross {
  margin-left: 5px;
  cursor: pointer; /* Добавлено для указания возможности нажатия */
}

.rx_cross:hover {
  color: #f18686;
}

.query_list {
  display: flex;
  flex-wrap: wrap;
  max-width: 60%;
  /*max-height: 2rem;*/
  /*overflow-y: unset;*/
}

.query_item_container {
  display: flex;
  align-items: center;
  background-color: #efefef;
  height: 1.5rem;
  font-size: 0.8rem;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: 5px;
}

.carets:hover {
  color: #070707;
}

.rx_big_cross {
  color: #666965;
  font-size: 1.2rem;
  cursor: pointer; /* Добавлено для указания возможности нажатия */
}

.rx_big_cross:hover {
  color: #f18686;
}

.vertical_line {
  color: #666965;
  margin-left: 6px;
  margin-right: 4px;
  font-size: 1.9rem;
}